@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
:root{
    --color-bg: #1e2735;
    --color-white: #edecea;
    --color-second:#3e526e;

}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background:var(--color-bg);
    font-family: 'Roboto', sans-serif;
    color:var(--color-white);
}
header{
    padding: 32px;
    border-bottom: 1px solid var(--color-second);
    background:rgba(0,0,0, 0.1);

}
.links{
    text-align: center;
}
.links a{
    color:var(--color-white);
    font-size: 18px;
    line-height: 28px ;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}
.links a:hover{
    color: var(--color-second);
    transition: color 0.3s;

}
#wrapper{
    text-align: center;
    padding-top: 32px;
}
#wrapper img{
    border-radius: 50%;
    border: 5px solid var(--color-second);
    height: 300px;

}
#wrapper h1{
    font-size:42px;
    line-height: 52px;
    font-weight: 700px;

}
#wrapper h2{
    font-size:24px;
    line-height: 34px;
    font-weight: normal;
    opacity: 0.8;

}
#wrapper p{
   max-width: 500px;;
   margin: 32px auto;
   font-size: 14px;
   line-height: 24px;

}
footer .links a{

    border-bottom:  1px solid var(--color-white);
    margin-bottom: 10px;
}
footer{
    padding-bottom: 10%;
}
/*Cards*/

.cards{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
.card{
    background: var(--color-second);
}

.card-image-container img{
    width: 100%;
}
.card-content,
.card-info{
    padding:24px;

}
.card-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card-link{
    background-color: var(--color-second);
    filter:brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}
